$default-color: #333;

h3 {
    font-weight: 400;
    font-size: 30px;
}

.wrapper {
    padding: 0 60px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
}

.section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
}

/*
---Home Section
 */

.home {
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 650px;

    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .logo {
            background: url('../img/logo.png') no-repeat;
            width: 32px;
            height: 32px;
        }

        .menu {
            ul {
                display: inline-flex;

                li {
                    padding: 0 14px 5px;
                }

                .active {
                    border-bottom: 2px solid #fff;
                }

                a {
                    color: #fff;
                    font-size: 18px;
                    text-decoration: none;
                }
            }
        }
    }

    .representation {
        text-align: center;
        padding-top: 225px;
        color: #fff;

        h1 {
            font-weight: 700;
            font-size: 60px;
        }

        h3 {
            padding-top: 8px;
            font-style: italic;
        }
    }
}

/*
---About Section
 */
.about {
    .wrapper-about {
        display: flex;
        margin: 0 auto;
        justify-content: center;

        .avatar {
            background: url('../img/avatar.png') no-repeat;
            width: 174px;
            height: 174px;
            margin: 55px 20px 0;
        }

        .goals,
        .dreams {
            width: 300px;

            h3 {
                padding-bottom: 10px;
            }
        }

        .goals {
            text-align: right;
        }
    }
}

/*
---Skills Section
 */

.skills {
    .skill {
        display: flex;
        justify-content: center;

        h3 {
            width: 250px;
            text-align: right;
        }

        .skills-circle {
            margin-left: 80px;

            span {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                background: #a3a3a3;
                margin: 10px 5px 20px 5px;
            }

            .active {
                background: $default-color;
            }
        }
    }
}

/*
---Contact Section
 */

.contact {
    border-bottom: none;

    .wrapper {
        display: flex;
        justify-content: center;
    }

    .our-contacts {
        width: 200px;

        div {
            margin-bottom: 15px;
        }

        p {
            font-size: 15px;
        }

        .lighter {
            color: #888;
        }
    }

    form {
        width: 430px;

        input, textarea {
            width: 100%;
            max-width: 430px;
            padding: 7px 0 7px 5px;
            border: 1px solid #909090;
            margin-bottom: 20px;

            &::placeholder {
                color: #838181;
            }
        }

        textarea {
            resize: none;
        }

        input[type="submit"] {
            height: 30px;
            width: 160px;
            background-color: $default-color;
            color: #fff;
            text-transform: uppercase;
            display: block;
            margin: 0 auto;
        }
    }
}

/*
---Footer Section
 */

.footer {
    background: $default-color;
    height: 120px; // 170px in psd
    color: #fff;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 60px;
    }

    .logo {
        background: url('../img/logo_footer.png') no-repeat;
        width: 57px;
        height: 46px;
    }
}

@media (max-width: 991px) {
    .about {
        .wrapper-about {
            padding: 0 20px;

            .goals, .dreams {
                width: 250px;
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        .wrapper-about {
            flex-wrap: wrap;

            .avatar {
                order: 1;
                margin: 15px 0 25px;
            }

            .goals {
                order: 2;
                width: 100%;
                text-align: center;
            }

            .dreams {
                order: 3;
                width: 100%;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 425px) {
    h3 {
        font-size: 25px;
    }

    .wrapper {
        padding: 0 10px;
    }

    .skills {
        .skill {
            flex-wrap: wrap;

            h3 {
                width: 100%;
                text-align: center;
            }

            .skills-circle {
                margin-left: 0;

                span {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }

    .contact {
        .wrapper {
            flex-wrap: wrap;
        }

        .our-contacts {
            width: 100%;
        }
    }

    .footer .wrapper {
        padding: 25px;
    }

    .home .header .menu ul li {
        padding: 0 5px 5px;
    }
}


