h3 {
  font-weight: 400;
  font-size: 30px; }

.wrapper {
  padding: 0 60px;
  margin: 0 auto; }

.title {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0; }

.section {
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px; }

/*
---Home Section
 */
.home {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  min-height: 650px; }
  .home .header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px; }
    .home .header .logo {
      background: url("../img/logo.png") no-repeat;
      width: 32px;
      height: 32px; }
    .home .header .menu ul {
      display: inline-flex; }
      .home .header .menu ul li {
        padding: 0 14px 5px; }
      .home .header .menu ul .active {
        border-bottom: 2px solid #fff; }
      .home .header .menu ul a {
        color: #fff;
        font-size: 18px;
        text-decoration: none; }
  .home .representation {
    text-align: center;
    padding-top: 225px;
    color: #fff; }
    .home .representation h1 {
      font-weight: 700;
      font-size: 60px; }
    .home .representation h3 {
      padding-top: 8px;
      font-style: italic; }

/*
---About Section
 */
.about .wrapper-about {
  display: flex;
  margin: 0 auto;
  justify-content: center; }
  .about .wrapper-about .avatar {
    background: url("../img/avatar.png") no-repeat;
    width: 174px;
    height: 174px;
    margin: 55px 20px 0; }
  .about .wrapper-about .goals,
  .about .wrapper-about .dreams {
    width: 300px; }
    .about .wrapper-about .goals h3,
    .about .wrapper-about .dreams h3 {
      padding-bottom: 10px; }
  .about .wrapper-about .goals {
    text-align: right; }

/*
---Skills Section
 */
.skills .skill {
  display: flex;
  justify-content: center; }
  .skills .skill h3 {
    width: 250px;
    text-align: right; }
  .skills .skill .skills-circle {
    margin-left: 80px; }
    .skills .skill .skills-circle span {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      display: inline-block;
      background: #a3a3a3;
      margin: 10px 5px 20px 5px; }
    .skills .skill .skills-circle .active {
      background: #333; }

/*
---Contact Section
 */
.contact {
  border-bottom: none; }
  .contact .wrapper {
    display: flex;
    justify-content: center; }
  .contact .our-contacts {
    width: 200px; }
    .contact .our-contacts div {
      margin-bottom: 15px; }
    .contact .our-contacts p {
      font-size: 15px; }
    .contact .our-contacts .lighter {
      color: #888; }
  .contact form {
    width: 430px; }
    .contact form input, .contact form textarea {
      width: 100%;
      max-width: 430px;
      padding: 7px 0 7px 5px;
      border: 1px solid #909090;
      margin-bottom: 20px; }
      .contact form input::placeholder, .contact form textarea::placeholder {
        color: #838181; }
    .contact form textarea {
      resize: none; }
    .contact form input[type="submit"] {
      height: 30px;
      width: 160px;
      background-color: #333;
      color: #fff;
      text-transform: uppercase;
      display: block;
      margin: 0 auto; }

/*
---Footer Section
 */
.footer {
  background: #333;
  height: 120px;
  color: #fff; }
  .footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px; }
  .footer .logo {
    background: url("../img/logo_footer.png") no-repeat;
    width: 57px;
    height: 46px; }

@media (max-width: 991px) {
  .about .wrapper-about {
    padding: 0 20px; }
    .about .wrapper-about .goals, .about .wrapper-about .dreams {
      width: 250px; } }

@media (max-width: 768px) {
  .about .wrapper-about {
    flex-wrap: wrap; }
    .about .wrapper-about .avatar {
      order: 1;
      margin: 15px 0 25px; }
    .about .wrapper-about .goals {
      order: 2;
      width: 100%;
      text-align: center; }
    .about .wrapper-about .dreams {
      order: 3;
      width: 100%;
      text-align: center;
      margin-top: 20px; }
  .wrapper {
    padding: 0 20px; } }

@media (max-width: 425px) {
  h3 {
    font-size: 25px; }
  .wrapper {
    padding: 0 10px; }
  .skills .skill {
    flex-wrap: wrap; }
    .skills .skill h3 {
      width: 100%;
      text-align: center; }
    .skills .skill .skills-circle {
      margin-left: 0; }
      .skills .skill .skills-circle span {
        height: 18px;
        width: 18px; }
  .contact .wrapper {
    flex-wrap: wrap; }
  .contact .our-contacts {
    width: 100%; }
  .footer .wrapper {
    padding: 25px; }
  .home .header .menu ul li {
    padding: 0 5px 5px; } }
